@font-face {
  font-family: 'matt_font';
  src: url('styles/fonts/matt_font/matt_font.woff2') format('woff2'),
       url('styles/fonts/matt_font/matt_font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}