@mixin background($type, $text_option:""){
  @if $type == "white_background" {
    background-color: $color-white;
  }
  @if $type == "blue_background" {
    background-color: $color-blue;
  }
  @if $type == "orange_background" {
    background-color: $color-orange;
  }
  @if $type == "orange_connections" {
    background-color: $color-orange;
    background-image: url('images/background-connections.svg');
    background-size: 100%;
    background-position: center center;
  }
  @if $type == "light_blue" {
    background-color: $color-light_blue;
  }
  @if $type == "blue_watercolor" {
    background-image: url('images/background-blue_watercolor.jpg');
    background-size: 100%;
    background-position: center top;
    color: $color-white; 
  }
  @if $text_option == "white_sibling" {
    & ~ div{
      color: $color-white !important;
      padding-top: 4%;
      padding-bottom: 4%;
      a{
        color: $color-white !important;
      }
    }
  }
}
