/*--------------------------------------------------------------
# Responsive Helper Classes: 
--------------------------------------------------------------*/

//Standard Container
@mixin responsive-standard_container(){
  margin: 0 auto;
  @media only screen and (min-width: $screen-standard){
	  width: $screen-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  width: $screen-smaller;
  }
  @media only screen and (max-width: $screen-smaller){
	  max-width: $screen-smaller;
  }
}

//Smaller Container
@mixin responsive-smaller_container(){
  margin: 0 auto;
  @media only screen and (min-width: $screen-standard){
    width: $screen-smaller;
  }  
  @media only screen and (max-width: $screen-standard){
	  max-width: 500px;
  }  
}

//Smallest Container
@mixin responsive-smallest_container(){
  margin: 0 auto;
  @media only screen and (min-width: $screen-smallest){
	  width: $screen-smallest;
  }
  @media only screen and (max-width: $screen-smallest){
	  width: 100%;
  }
}

//Thick Container Padding
@mixin responsive-larger_padding(){
  overflow: hidden;
  @media only screen and (min-width: $screen-standard){
	  padding: $cell-standard*2 $cell-smallest;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding: $cell-smaller*2 $cell-smallest;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding: $cell-smallest*2 $cell-smallest;
  }
} 

//Container Padding
@mixin responsive-standard_padding(){
  @media only screen and (min-width: $screen-standard){
	  padding: $cell-standard $cell-smallest;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding: $cell-smaller $cell-smallest;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding: $cell-smaller $cell-smallest;
  }
}

//Thin Container Padding
@mixin responsive-smaller_padding(){
  @media only screen and (min-width: $screen-standard){
	  padding: $cell-standard/2 $cell-smallest;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding: $cell-smaller/2 $cell-smallest;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding: $cell-smallest;
  }
}

//Top Padding
@mixin responsive-top_padding(){
  @media only screen and (min-width: $screen-standard){
	  padding-top: $cell-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding-top: $cell-smaller;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding-top: $cell-smallest;
  }
}

//Top Padding
@mixin responsive-side_padding(){
  @media only screen and (min-width: $screen-standard){
	  padding-left: $cell-standard;
	  padding-right: $cell-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding-left: $cell-smaller;
	  padding-right: $cell-smaller;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding-left: $cell-smallest;
	  padding-right: $cell-smallest;
  }
}

//Circle
@mixin responsive-circle(){
	border-radius: $border-radius-circle;
  transition: height .2s, width .2s;
  @media only screen and (min-width: $screen-standard){
  	height: $cell-standard * 6;
  	width: $cell-standard * 6;
  }
  @media only screen and (max-width: $screen-standard){
  	height: 100%;
  	width: 100%;
  }
}

//Padding Left
@mixin responsive-padding_left(){
  transition: padding-left .2s;
  @media only screen and (min-width: $screen-standard){
	  padding-left: $cell-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  padding-left: $cell-smaller;
  }
  @media only screen and (max-width: $screen-smaller){
	  padding-left: $cell-smallest;
  }
}

//Largest Font
@mixin responsive-largest_standard_font(){
  @media only screen and (min-width: $screen-standard){
	  font: $font-largest_standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-larger_standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-standard;
  }   
}

//Larger Font
@mixin responsive-larger_standard_font(){
  @media only screen and (min-width: $screen-standard){
	  font: $font-larger_standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smaller_standard;
  }   
}

//Standard Font
@mixin responsive-standard_font(){
  @media only screen and (min-width: $screen-standard){
	  font: $font-standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-smaller_standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smallest_standard;
  }      
}

//Smaller Font
@mixin responsive-smaller_standard_font(){
  @media only screen and (min-width: $screen-standard){
	  font: $font-smaller_standard;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-smallest_standard;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smallest_standard;
  }      
}

//Smallest Font
@mixin responsive-smallest_standard_font(){
  font: $font-smallest_standard;
}

//Alternate Font
@mixin responsive-alternate_font(){
  @media only screen and (min-width: $screen-standard){
	  font: $font-alternate;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-smallest_alternate;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smallest_alternate;
  }      
}

//Smaller Alternate Font
@mixin responsive-smaller_alternate_font(){
  @media only screen and (min-width: $screen-standard){
	  font: $font-smaller_alternate;
  }
  @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
	  font: $font-smallest_alternate;
  }
  @media only screen and (max-width: $screen-smaller){
	  font: $font-smallest_alternate;
  }      
}

//Image Padding Bottom
@mixin responsive-image_padding_bottom($total_length_of_images){
  padding-bottom: (100/$total_length_of_images)*$image-base_height; //Thanks @ebertucc!
}
