/*--------------------------------------------------------------
# Elements, such as dynamic AJAX lists, in a PHP Includes File
--------------------------------------------------------------*/

//includes/shortcode.php
.include-newsletter_signup {
	background-color: $color-light_blue;
	margin: 0 $cell-standard*-1;
	border-radius: $border-radius-standard;
	padding: $cell-smaller $cell-standard; 
  text-shadow: none !important;
	@media only screen and (max-width: $screen-smaller) {
		justify-content: center;
		padding: $cell-smallest;
		margin: 0;
		border-radius: 10px;
	}
	.newsletter_singup-label {
		color: $color-dark_blue;
		padding-right: $cell-smallest;
		display: inline-block;
    font: $font-smaller_standard;
    @media only screen and (max-width: $screen-smaller){
      font: $font-smallest_standard;
    }
    @media only screen and (max-width: $screen-smallest) {
			display: block;
			padding-right: 0;
			padding-bottom: $cell-smallest;
		}
	}
	.newsletter_singup-input_group {
  	display: inline-block;
  	width: 68%;
  	position: relative;
    @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard) {
    	width: 67%;
		}
  	@media only screen and (max-width: $screen-smaller) {
  	  width: 100%;
  	}
		.input_group-input {
			border-radius: $border-radius-standard;
			padding: $cell-smallest $cell-standard;
			border: 0;
			width: 100%;
			line-height: 1;
      font: $font-smaller_standard;
      @media only screen and (max-width: $screen-smaller){
        font: $font-smallest_standard;
      }
      @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard) {
  			padding: $cell-smallest 30px;
      }      
      @media only screen and (max-width: $screen-smaller) {
  			padding: $cell-smallest 20px;
  			margin-top: $cell-smallest;
  		}
		}
		.input_group-input:focus {
			outline:0;
		}
		.input_group-button {
      position: absolute;
      top: 0px;
      right: 0px;
      @include button-standard();
      font: $font-smaller_standard !important;
      @media only screen and (max-width: $screen-smaller){
        font: $font-smallest_standard !important;
  			margin-top: $cell-smallest;
  		}
		}
		button:focus {outline:0;}
	}
}

//includes/tinymce.php
.include-inline_link{
  display: inline-block;
  text-transform: uppercase;
  color: $color-blue;
  text-decoration: none;
  &:after{
    @include fa-icon();
    content: $fa-var-chevron-right;
    margin-left: 10px;
    font-size: 18px;
  }
}