/*--------------------------------------------------------------
# Grid elements set the responsive sizing. Mainly used to define
# element with in _layouts.scss
--------------------------------------------------------------*/

// "Taylor Flex Grid
.flex-center{
  display: flex;
	justify-content: center;
	align-items: center;
}