.button{
  display: inline-block;
  height: $cell-standard;
  font: $font-smaller;
  line-height: 1;
  border-radius: $border-radius-standard;
  color: $color-white;
  background: $color-blue_gradient;
  box-shadow: $box-shadow-dark_orange;
  cursor: pointer;
  text-align: center;
  padding: 11px $cell-smallest;
  outline: 0;
  border: 0;
  @media only screen and (min-width: $screen-largest){
    font: $font-standard;
    height: $cell-larger;
    padding: 7px $cell-smaller;
  }
  &:hover{
  }
  &:active, &:focus{
  }
  &.button-vibrant_orange{
    color: $color-vibrant_orange;
  }
  &.button-purple{
    color: $color-purple;
  }
  &.button-largest{
    font: $font-largest;
    padding: $cell-standard;
  }
  &.button-smaller{
    font: $font-smallest;
    height: $cell-smaller;
    padding: 5px $cell-smallest;
    @media only screen and (min-width: $screen-largest){
      font: $font-smaller;
      height: $cell-standard;
      padding: 7px $cell-smaller;
    }
  }
  &.button-white_outline{
    color: $color-white;
    box-shadow: none;
    border: $border-width-standard solid $color-white;
    background: none;
  }
  &.button-light_blue{
    color: $color-light_blue;
  }
  &.button-circle{
    display: inline-block;
    border-radius: $border-radius-circle;
    padding: 7px 0;
    font: $font-smaller;
    height: $cell-standard;
    width: $cell-standard;
    @media only screen and (min-width: $screen-largest){
      font: $font-standard;
      height: $cell-larger;
      width: $cell-larger;
      padding: 10px 0;
    }
  }
}