/*--------------------------------------------------------------
# Elements, such as dynamic AJAX lists, in a PHP Includes File
--------------------------------------------------------------*/

//Ajax User List
.include-filterable_content{
  position: relative;
  //Map Instructions
  .filterable_content-instructions{
    position: absolute;
    right: 15%;
    bottom: 15%;
    font: $font-standard;
    color: $color-white;
    text-shadow: $text-shadow-standard;
    display: flex;
    vertical-align: middle;
    line-height: 100px;
    .instructions-point{
      margin: 0 3px; 
    }
  }

  //Map
  .filterable_content-map{
    width:100%; 
    height: 90vh;
  }

  //List View
  .filterable_content-list{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .list-single_user {
    	background:$color-blue_gradient;
    	width: 31.33333333333%;
    	margin: 1%;
      display: block;
    	color: $color-white;
    	text-decoration: none;
    	padding: $cell-smallest;
    	text-align: center;
    	box-shadow: $box-shadow-dark_orange;
    	@media only screen and (min-width: $screen-largest){
        width: 23%;
      }
    	@media only screen and (max-width: $screen-smaller){
        width: 48%;
      }
    	@media only screen and (max-width: $screen-smallest){
        width: 98%;
      }
      .single_user-avatar {
      	display: inline-block;
        background-color: $color-white;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 100%;
    		border-radius: 50%;
      }
      .single_user-full_name, .single_user-title{
        padding-top: $cell-smallest/2;
      }
      .single_user-full_name {
        @extend .responsive-standard_font;
      }
      .single_user-title {
        text-transform: capitalize;
        @extend .responsive-smaller_font;
      }
    }
  }
}