/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
//Page
.layout-page {
	background-color: white;
}

//Userpage
.layout-user {
  background-color: $color-white;
  .user-header {
	  background-color: $color-light_blue;
    @extend .responsive-container_padding;
		.header-content {
			margin: 0 auto;
			@extend .flex-center;
			@media only screen and (max-width: $screen-smallest) {
				flex-direction: column;
			}
      .content-avatar {
  	    display: flex;
  			align-items: center;
  	    .avatar-headshot {
  			  img {
            @extend .responsive-circle;
  			  }
  		  }
  	  }
      .content-user_meta {
  	    display: flex;
  	    flex-direction: column;
        color: $color-dark_blue;
        @extend .responsive-padding_left;
    		@media only screen and (max-width: $screen-smallest) {
          padding-left: 0!important;
          text-align: center
        }
  	    .user_meta-name{
          @extend .responsive-larger_font;
        }
        .user_meta-title{
          font-weight: $font-weight-bold;
          @extend .responsive-standard_font;
        }
        .user_meta-tags {
          padding-top: $cell-smallest;
      		@media only screen and (min-width: $screen-largest) {
            font: $cell-smaller;
          }
          .tags-role, .tags-location{
            @extend .button, .button.button-smaller;
            margin-right: $cell-smallest;
        		@media only screen and (max-width: $screen-smallest) {
              margin-right: 0;
            }
          }
          .tags-role{
            background: $color-purple;
          }
          .tags-location{
            background: $color-dark_gray;
          }
        }
      } 
    }
  }
  .user-quote {
	  @extend .background-blue_watercolor;		
	  .quote-body {
			color: $color-white;
			margin: 0 auto;
			text-align: center;
      @extend .responsive-thick_container_padding, .responsive-marker_font, .responsive-smaller_width;
	  }
  }
  .user-bio {
    margin: 0 auto;
    @extend .responsive-container_padding, .responsive-standard_width;
	  .bio-title {
      @extend .meta;
	  }
	  .bio-body{
      @extend .responsive-standard_font;
	  }
  }
  .user-footer { 
		background-color: $color-light_gray;
	  .footer-venture_and_contact {
      @extend .flex-center;
      align-items: stretch;
      width: 100%;
      @media only screen and (max-width: $screen-smaller){
        display: block;
      }
  	  .venture_and_contact-venture, .venture_and_contact-contact{
        @extend .responsive-container_padding;
  	  }
		  .venture_and_contact-venture {
			  padding-right: $cell-standard;
        @media only screen and (min-width: $screen-largest){
      	  max-width: $screen-largest - 400px;
        }
        @media only screen and (min-width: $screen-larger) and (max-width: $screen-largest){
      	  max-width: $screen-larger - 300px;
        }
        @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
      	  max-width: $screen-standard - 300px;
        }
        @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
      	  max-width: $screen-smaller - 300px;
        }
        @media only screen and (max-width: $screen-smaller){
      	  padding: $cell-smallest;
      	  max-width: $screen-smallest;
      	  margin: 0 auto;
        }
			  .venture-content  {
  			  padding-left: $cell-smaller;
          @media only screen and (max-width: $screen-smaller){
            padding: 0;
          }
  			  .content-heading {
            @extend .meta;
  			  }
  			  .content-title {
  				  color: $color-dark_blue;
            @extend .responsive-larger_font;
  			  }
  			  .content-body, .content-url {
            @extend .responsive-smaller_font;
  			  }
  			  .content-url {
    			  display: block;
    			  margin-top: $cell-smallest;
            text-transform: uppercase;
  			  }
			  }
		  }
		  .venture_and_contact-contact {
			  padding-left: $cell-standard;
			  border-left: $border-standard;
        @media only screen and (min-width: $screen-largest){
      	  max-width: 400px;
        }
        @media only screen and (min-width: $screen-larger) and (max-width: $screen-largest){
      	  max-width: 300px;
        }
        @media only screen and (min-width: $screen-standard) and (max-width: $screen-larger){
      	  max-width: 300px;
        }
        @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
      	  max-width: 300px;
        }
        @media only screen and (max-width: $screen-smaller){
      	  max-width: $screen-smallest;
      	  margin: 0 auto;
      	  border-left: 0;
      	  border-top: $border-standard;
      	  padding: $cell-smallest;
        }
				.contact-title {
          @extend .meta;
				}
				.contact-links{
  				.links-website, .links-social_media{
  				  @media only screen and (max-width: $screen-smaller){
    				  display: inline-block;
    				  margin-right: $cell-smallest;
    				}
  				}
  			  .links-website {
  				  @extend .button;
    				background: $color-dark_gray;
  			  }
				  .links-social_media {
  				  margin-top: $cell-smallest;
					  .social_media-link {
    				  @extend .button, .button.button-circle;
    				  margin-right: $cell-smallest;
    				  background: $color-dark_gray;
						}
					}
					
        }
      }
	  }
	 	.footer-posts {
	 		display: flex;
	 		flex-direction: row;
	 		flex-wrap: wrap;
	 		justify-content: space-between;
	 		padding-left: $cell-standard * 2;
	 		padding-right: $cell-standard * 2;
	 		margin-top: $cell-smallest * 2; 
	 		margin-bottom: $cell-smallest * 3; 
	 		width: 100%;
	 		@media only screen and (max-width: $cell-smallest * 54) {
		 		padding: 0 $cell-smallest * 3;
		 	}
	 		.posts-pretext {
	 			height: $cell-smallest * 2;
	 			align-items: center;
	 			display: flex;
	 			color: $color-dark_blue;
	 			text-transform: uppercase;
	 			margin-bottom: $cell-smallest *.5; 
	 			font: $font-smaller;
	 		}
	 		:first-child {
	 			flex: 0 1 100%;
	 		}
	 		.posts-single_post {
	 			display: flex;
	 			background-size: cover;
	 			background-repeat: no-repeat;
	 			height: $cell-standard  * 7;
	 			width: $cell-smallest * 23;
	 			background-position: center;
	 			text-decoration: none;
	 			color: $color-white;
	 			position: relative;
	 			padding: $cell-smallest * 2 $cell-smallest;
	 			@media only screen and (max-width: $cell-smallest * 54) {
		 			margin-bottom: 	2 * $cell-smallest;
		 		}
		 		@media only screen and (max-width: $cell-standard * 14) {
		 			width: 100%;
		 			height: $cell-standard  * 5;
		 		}
	 			.single_post-title {
	 				display: flex;
	 				align-items: flex-end;
	 				font: $font-standard;
	 				max-width: $cell-standard  * 7;
	 				@media only screen and (max-width: $cell-standard * 14) {
		 				max-width: $cell-smallest  * 33;	
		 			}
	 			}
	 		}
	 	}
	 	
  }
  a {
	  text-decoration: none;
  }
}