/*--------------------------------------------------------------
# Features: Catch All Template Part
--------------------------------------------------------------*/

//Mosaic
.feature-mosaic{
  .mosaic-blocks{
    width: 100%;
    max-width: $screen-larger;
    margin: 0 auto;
    flex-wrap: wrap;
    @extend .flex-center;
    & > div{      
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $color-orange;
      position: relative;
      padding-bottom: 35%;
      margin-bottom: 3%;
      &:nth-of-type(odd){
        width: 62%;
        margin-right: 3%;
        .user-content{
          padding: 0 $cell-standard;
          .content-quote:after{
            margin-right: $cell-standard;
          }
        }
      }
      &:nth-of-type(even){
        width: 35%;
        .content-quote:before{
          @include fa-icon();
          content: $fa-var-quote-right;
        }
      }
      &:last-of-type:before{
        display: none;
      }
      & > a{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: $cell-smaller;
        color: $color-white;
        text-decoration: none;
        @extend .flex-center;
      }
      &.with_background a{
        background: $color-dark_blue_gradient;
        justify-content: flex-start !important;
        align-items: flex-end !important;
      }
      &.blocks-page{
        .page-clickable_area{
          font: $font-larger;
          line-height: 1em;
        }
      }
      &.blocks-alumni_quote{
        background-color: transparent;
        position: relative;
        padding-bottom: 35%;
        .alumni_quote-user{
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          .user-content{
            .content-quote{
              font: $font-standard;
              &:before, &:after{
                @include fa-icon();
                opacity: .4;
                position: absolute;
              }
              &:before{
                content: $fa-var-quote-left;
                margin-top: -$cell-standard;
              }
              &:after{
                content: $fa-var-quote-right;
                right: 0;
              }
            }
            .content-name{
              font: $font-smaller;
            }
            .content-alumni_roles{
              font: $font-smallest;
              text-transform: uppercase;
            }
          }
        }
      }
      &.blocks-link{
        font: $font-larger;
      }
    }
    @media only screen and (min-width: $screen-largest) {
      max-width: $screen-largest;
      & > div{      
        &:nth-of-type(even){
          &:before{
            left: -15%;
            bottom: -15%;
          }
        }
        & > a{
          padding: $cell-standard;
        }
      }     
    }
    @media only screen and (max-width: $screen-larger) {
      & > div{      
        padding-bottom: 36%;
        margin-bottom: 2%;
        &:nth-of-type(odd){
          width: 63%;
          margin-right: 2%;
        }
        &.blocks-alumni_quote{
          .alumni_quote-user{
            .user-content{
              .content-quote{
                &:before{
                  margin-top: -$cell-standard;
                }
                &:after{
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-standard) {
      & > div{      
        &:nth-of-type(odd){
          .user-content{
            padding: 0 $cell-smaller;
          }
        }
        &:nth-of-type(even){
          &:before{
            width: $cell-smaller;
            height: $cell-smaller;
            border: $cell-smallest $color-white solid;
            left: -12%;
            bottom: -12%;
          }
        }
        & > a{
          padding: $cell-smallest;
        }
        &.blocks-page{
          .page-clickable_area{
            font: $font-larger;
          }
        }
        &.blocks-alumni_quote{
          .alumni_quote-user{
            .user-content{
              .content-quote{
                font: $font-smaller;
                &:before{
                  margin-top: -$cell-smaller*2;
                }
                &:after{
                  right: 0;
                }
              }
              .content-name{
                font: $font-smaller;
              }
              .content-alumni_roles{
                font: $font-smallest;
              }
            }
          }
        }
        &.blocks-link{
          font: $font-standard;
        }
      }
    }
    @media only screen and (max-width: $screen-smaller) {
      & > div{      
        padding-bottom: 37%;
        margin-bottom: 1%;
        &:nth-of-type(odd){
          width: 64%;
          margin-right: 1%;
          .user-content{
            padding: 0 $cell-smallest;
          }
        }
        &:nth-of-type(even){
          &:before{
            width: $cell-smallest;
            height: $cell-smallest;
            border: $cell-smallest/1.3 $color-white solid;
            left: -9%;
            bottom: -9%;
          }
        }
        &.blocks-page{
          .page-clickable_area{
            font: $font-standard;
          }
        }
        &.blocks-alumni_quote{
          .alumni_quote-user{
            .user-content{
              .content-quote{
                &:before{
                  margin-top: -$cell-smallest*2;
                  font-size: 20px;
                }
                &:after{
                  font-size: 40px;
                }
              }
              .content-name{
                font: $font-smallest;
              }
              .content-alumni_roles{
                font: $font-smallest;
              }
            }
          }
        }
        &.blocks-link{
          font: $font-smaller;
        }
      }
    }
    @media only screen and (max-width: $screen-smallest) {
      & > div{      
        padding-bottom: 60%;
        margin-bottom: $cell-smallest;
        
        &:nth-of-type(odd){
          width: 100%;
          margin-right: 0;
        }
        &:nth-of-type(even){
          width: 100%;
          &:before{
            display: none;
          }
        }
        & > a{
          padding: $cell-smaller;
        }
        &.blocks-alumni_quote{
          padding: $cell-smallest 0;
          .alumni_quote-user{
            position: relative;
          }
        }
      }
    }
  }
}

//Media
.feature-media{
  
  //Blocks, Slideshow and Circles
  .media-blocks,
  .media-slideshow,
  .media-circles{
    .blocks-full_block,
    .blocks-half_block,
    .blocks-third_block,
    .slideshow-slide,
    .circles-full_circle,
    .circles-half_circle{
      display: inline-block;
      box-shadow: none;
      overflow: hidden;
      color: $color-white;
      text-decoration: none;
      .full_block-caption,
      .half_block-caption,
      .third_block-caption,
      .slide-caption,
      .full_block-pdf_icon,
      .half_block-pdf_icon,
      .third_block-pdf_icon,
      .full_block-play_icon,
      .half_block-play_icon,
      .third_block-play_icon,
      .full_block-image,
      .half_block-image,
      .third_block-image,
      .slide-image,
      .full_circle-image,
      .half_circle-image{
        position: absolute;
        width: 100%;
      }
      .full_block-caption,
      .half_block-caption,
      .third_block-caption,
      .slide-caption{
        bottom: 0;
        vertical-align: bottom; 
        background: $color-dark_blue_gradient;
        text-align: center;
      }
      .full_block-caption,
      .slide-caption{
        @include responsive-standard_font();
        padding: $cell-standard;
      }
      .full_block-image,
      .half_block-image,
      .third_block-image,
      .slide-image,
      .full_circle-image,
      .half_circle-image{
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  
  //Blocks
  .media-blocks{
    display: flex;
    flex-wrap: wrap;
    .blocks-full_block,
    .blocks-half_block,
    .blocks-third_block{
      position: relative;
      &:hover{
        box-shadow: $box-shadow-standard;
      }
      .full_block-caption,
      .half_block-caption,
      .third_block-caption{
        @media only screen and (max-width: $screen-smaller){
      	  display: none;
        }
      }
      .half_block-caption{
        padding: $cell-smaller;
      }
      .third_block-caption{
        padding: $cell-smallest;
      }
      .third_block-pdf_icon,
      .half_block-pdf_icon,
      .full_block-pdf_icon,
      .third_block-play_icon,
      .half_block-play_icon,
      .full_block-play_icon{
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        &:before{
          @include fa-icon();
          text-shadow: 1px 1px 30px rgba(0,0,0,.4);
        }
        &:active{
          opacity: .7;
        }
      }
      .third_block-pdf_icon,
      .half_block-pdf_icon,
      .full_block-pdf_icon{
        &:before{
          content: $fa-var-file-pdf-o;
        }
      }
      .third_block-play_icon,
      .half_block-play_icon,
      .full_block-play_icon{
        &:before{
          content: $fa-var-play-circle-o;
        }
      }
      .third_block-pdf_icon,
      .third_block-play_icon{
        font-size: 4.5em;
      }
      .half_block-pdf_icon,
      .half_block-play_icon{
        font-size: 7em;
      }
      .full_block-pdf_icon,
      .full_block-play_icon{
        font-size: 14em;
      }
    }
    .blocks-half_block,
    .blocks-third_block{
      border: $cell-smallest/2 solid transparent;
      @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
    	  font-size: 90%;
      }
      @media only screen and (max-width: $screen-smaller){
    	  font-size: 80%;
      }
      &:hover{
        font-size: 104%;
        border: 0 solid transparent;
      }
    }
    .blocks-full_block{
      width: 100%;
      padding-bottom: 56.24%; //Maintains the ratio of standard video 1280x720
    }
    .blocks-half_block{
      width: 50%;
      padding-bottom: 28.12%; //Maintains the ratio of standard video 1280x720
    }
    .blocks-third_block{
      width: 33.3333333333%;
      padding-bottom: 18.7466666667%; //Maintains the ratio of standard video 1280x720
    }
  }
  
  //Blocks
  .media-circles{
    .circles-full_circle,
    .circles-half_circle{
      position: relative;
      border-radius: $border-radius-circle;
      &:hover{
        box-shadow: $box-shadow-standard;
      }
    }
    .circles-full_circle{
      width: 30%;
      padding-bottom: 30%;
    }
    .circles-half_circle{
      width: 15%;
      padding-bottom: 15%;
    }
  }
  
  //Slideshow
  .media-slideshow{
    position: relative;
    width: 100%;
    padding-bottom: 56.24%; //Maintains the ratio of standard video 1280x720
    .slideshow-slide{
      position: absolute;
      width: 100%;
      padding-bottom: 56.24%; //Maintains the ratio of standard video 1280x720
      top: 0;
    }
  }
}