/*--------------------------------------------------------------
# Loop_content content requires the loop to exist
--------------------------------------------------------------*/

//Venture Header
.loop_content-venture_header{
  background: $color-light_blue;
  @include responsive-smaller_padding();
  .venture_header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include responsive-standard_container();
    @media only screen and (max-width: $screen-smaller){
  	  display: block;
  	  text-align: center;
    }    
    .content-title{
      color: $color-dark_blue;
      @include responsive-larger_standard_font();
    }
    .content-meta{
      display: flex;
      align-items: center;
      @media only screen and (max-width: $screen-smaller){
    	  margin-top: $cell-smallest;
    	  display: block;
      }    
      .meta-post_type, .meta-category, .meta-city{
        @include button-smallest();
      }
      .meta-post_type, .meta-category{
        margin-right: $cell-smallest;
      }
      .meta-post_type{
        background: $color-purple;
      }
      .meta-category{
        background: $color-orange;
      }
      .meta-city{
        background: $color-dark_gray;
        &:before{
          @include fa-icon();
          content: $fa-var-map-marker;
          font-size: 14px;
        }
      }
    }
  }
}

//Standard Content
.loop_content-standard_content{
  border-top: $border-standard;
  @include responsive-standard_padding();
  .standard_content-page_title, .standard_content-the_content{
    @include responsive-standard_container();
    @include responsive-side_padding();
  }
  .standard_content-page_title {
  	margin: 0 auto;
    color: $color-dark_blue;
    @include responsive-largest_standard_font();
  }  
  .standard_content-the_content{
    @include responsive-standard_font();
  }
}

//Segments + User List
.loop_content-segments, 
.loop_content-user_list{  
  //Single Segment + User List Header
  .segments-segment,
  .user_list-header{
    position: relative;
  }
  
}

//User List
.loop_content-user_list{
  
  //User List Header
  .user_list-header{
    color: $color-white;
    @include background(orange_connections);
    
    //Content
    .header-content{
  
  
      //Text
      .content-brief_text, .content-regular_text, .content-regular_text_with_paragraphs, .content-long_text{
        margin-left: auto;
        margin-right: auto;
        
        //Title, Subtitle and Body
      	.brief_text-title, .regular_text-title, .long_text-title,
      	.brief_text-subtitle, .regular_text-subtitle, .long_text-subtitle,
      	.brief_text-body, .regular_text-body, .long_text-body{
          text-align: center;
        }
        
        //Title and Body
        .brief_text-title, .regular_text-title, .regular_text_with_paragraphs-title, .long_text-title,
        .brief_text-body, .regular_text-body, .regular_text_with_paragraphs-body, .long_text-body{
          margin-top: $cell-smaller;
        }
                
        //Title
        .brief_text-title, .regular_text-title, .regular_text_with_paragraphs-title, .long_text-title {
          @include responsive-larger_standard_font();
      	}
      	
      	//Subtitle
        .brief_text-subtitle, .regular_text-subtitle, .regular_text_with_paragraphs-subtitle, .long_text-subtitle{
          margin-top: $cell-smallest;
        	@include responsive-alternate_font();
        }
        
        //Body
      	.brief_text-body {
          @include responsive-standard_font();
      	}
      	.regular_text-body, .regular_text_with_paragraphs-body, .long_text-body {
          @include responsive-smaller_standard_font();
      	}
      	.long_text-body {
        	text-align: justify;
        	column-count: 2;
        	column-gap: $cell-standard;
          @media only screen and (min-width: $screen-smallest) and (max-width: $screen-smaller){
        	  column-gap: $cell-smallest;
          }
          @media only screen and (max-width: $screen-smallest){
        	  column-count: 1;
          }
        	p:first-of-type{
          	margin-top: 0;
          	&:first-letter{
              @include responsive-largest_standard_font();
              float: left;
              padding: 0 $cell-smallest;
              @media only screen and (max-width: $screen-smaller){
                @include responsive-smaller_standard_font();
                float: none;
                padding: 0;
              }
          	}
        	}
      	}
      	
        //Text Widths
        .content-brief_text, .content-long_text{
          max-width: $cell-standard*19; 
        }
        .content-regular_text, .content-regular_text_with_paragraphs{
          max-width: $cell-standard*15; 
        }
      	
      }
      
      //Options
      .content-options{
    		padding-top: $cell-standard;
    		text-align: center;
        max-width: $cell-standard*23;
        margin: 0 auto;
    		div:first-of-type{
      		margin-left: 0!important;
    		}
    		.options-map_toggle, .options-filter{
  				display: inline-block;
  				margin-left: $cell-smallest;
  				margin-top: $cell-smallest;
  				position: relative;
  				@include button-standard();
  				border: 4px solid $color-white;
  				background: transparent; 
          @media only screen and (min-width: $screen-smallest) and (max-width: $screen-smaller){
  				  border: 3px solid $color-white;
            margin-left: 0;
          }
  				@media only screen and (max-width: $screen-smallest){
            width: 100%;
            margin-left: 0;
    		  }
  				&.selected{
    				background: $color-white;
    				color: $color-orange;
    				.map_toggle-checkbox{
      				background: $color-orange;
    				}
  				}
  				.filter-checkbox{
  					position: absolute;
  					left: -10000000px;
  				}
        }
        .options-map_toggle{
          padding-left: 54px;
          @media only screen and (max-width: $screen-smaller){
            padding-left: 24px;
          }
  				.map_toggle-checkbox{
    				position: absolute;
    				-webkit-appearance: none;
    				border-radius: $border-radius-circle;
    				display: inline-block;
    				pointer-events: none;
    				padding: $cell-smallest;
    				background: $color-white;
    				outline: none;
    				margin-right: 4px;
    				top: 18px;
    				left: $cell-smallest;
            @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
      				top: 13px;
      				padding: 12px;
            }
            @media only screen and (max-width: $screen-smaller){
      				padding: 12px;
      				top: 10px;
            }
  				}
        }
      }      
    }
  }
}