/*--------------------------------------------------------------
# Loop_content content requires the loop to exist
--------------------------------------------------------------*/

//Venture Header
.loop_content-venture_header{
  background: $color-light_blue;
  @include responsive-smaller_padding();
  .venture_header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include responsive-standard_container();
    @media only screen and (max-width: $screen-smaller){
  	  display: block;
  	  text-align: center;
    }    
    .content-title{
      color: $color-dark_blue;
      @include responsive-larger_standard_font();
    }
    .content-meta{
      display: flex;
      align-items: center;
      @media only screen and (max-width: $screen-smaller){
    	  margin-top: $cell-smallest;
    	  display: block;
      }    
      .meta-post_type, .meta-category, .meta-city{
        @include button-smallest();
        cursor: auto !important;
          box-shadow: none !important;
        &:hover{
          box-shadow: none !important;
        }
      }
      .meta-post_type, .meta-category{
        margin-right: $cell-smallest;
      }
      .meta-post_type{
        background: $color-purple;
      }
      .meta-category{
        background: $color-orange;
      }
      .meta-city{
        background: $color-dark_gray;
        &:before{
          @include fa-icon();
          content: $fa-var-map-marker;
          font-size: 14px;
        }
      }
    }
  }
}

//Standard Content
.loop_content-standard_content{
  border-top: $border-standard;
  @include responsive-standard_padding();
  .standard_content-page_title, .standard_content-the_content{
    @include responsive-side_padding();
    margin: 0 auto;
    max-width: $width-container-standard;
  }
  .standard_content-page_title {
  	margin: 0 auto;
    color: $color-dark_blue;
    font: $font-larger_standard;
    @media only screen and (max-width: $screen-smaller){
      font: $font-standard;
    }
  }  
  .standard_content-the_content{
    font: $font-smaller_standard;
    @media only screen and (max-width: $screen-smaller){
      font: $font-smallest_standard;
    }
  }
}

//Segments + User List
.loop_content-segments, 
.loop_content-user_list{  
  
  //Single Segment + User List Header
  .segments-segment,
  .user_list-header{
    position: relative;
  }
  
}

//User List
.loop_content-user_list{
  
  //User List Header
  .user_list-header{
    color: $color-white;
    @include background(orange_connections);
    
    //Content
    .header-content{
      @include responsive-standard_container();    
      @include responsive-larger_padding();    
      
      //Text and Meida
      & > div {
        margin-left: auto;
        margin-right: auto;
      }
    
      //Text (All)
      .content-brief_text, .content-regular_text, .content-regular_text_with_paragraphs, .content-long_text{
    
        //Title, Subtitle and Body
        & > div{
          margin-top: $cell-smaller;
        }
        
        //Title
        .brief_text-title, .regular_text-title, .regular_text_with_paragraphs-title, .long_text-title{
          @include responsive-larger_standard_font();
        }
        
        //Subtitle
        .brief_text-subtitle, .regular_text-subtitle, .regular_text_with_paragraphs-subtitle,  .long_text-subtitle{
          @include responsive-alternate_font();
        }
        
        //Body
        .brief_text-body, .regular_text-body, .regular_text_with_paragraphs-body, .long_text-body{
          @include responsive-smaller_standard_font();
        }
        
      } 
      
      //Text (Brief)
      .content-brief_text{
        @include responsive-smaller_container();    
        & > div{
          text-align: center;
        }
        .brief_text-body, .brief_text_inverted-body{
        }
      } 
      
      //Text (Regular)
      .content-regular_text{
        @include responsive-smaller_container();    
        & > div{
          text-align: center;
        }
        .regular_text-body, .regular_text_inverted-body{
        }
      } 
    
      //Text (Regular with Paragraphs)
      .content-regular_text_with_paragraphs{
        @include responsive-smaller_container();    
        & > div{
        }
        .regular_text_with_paragraphs-body, .regular_text_with_paragraphs_inverted-body{
        }
      } 
      
      //Text (Long)
      .content-long_text{
        & > div{
        }
        .long_text-title, .long_text_inverted-title, .long_text-subtitle, .long_text_inverted-subtitle{
          @include responsive-smaller_container();  
          @include responsive-top_padding();
          text-align: center; 
        }
        .long_text-body, .long_text_inverted-body{
          @include responsive-standard_padding();    
          @include responsive-standard_container();    
        	text-align: justify;
        	column-count: 2;
          @media only screen and (min-width: $screen-standard){
        	  column-gap: $cell-standard;
          }
          @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard){
        	  column-gap: $cell-smaller;
          }
          @media only screen and (max-width: $screen-smaller){
        	  column-count: 1;
          }      
        	p:first-of-type{
          	margin-top: 0;
          	&:first-letter{
              @include responsive-largest_standard_font();
              float: left;
              padding: 0 $cell-smallest;
              @media only screen and (max-width: $screen-smaller){
                @include responsive-smaller_standard_font();
                float: none;
                padding: 0;
              }
          	}
        	}
        }
      }
  
    }
  }
  
  //User Map
  .user_list-user_map{
    position: relative;
  
    //Map
    .user_map-the_map{
      width:100%; 
      height: 80vh;
      min-height: 400px;
      max-height: 770px;
    }
  
  }  
  
}