/*--------------------------------------------------------------
# Media: Media elements within the loop.
--------------------------------------------------------------*/

//Mosaic
.media-mosaic{
  .mosaic-blocks{
    width: 100%;
    max-width: $screen-standard;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
  	justify-content: space-between;
  	align-items: center;
  	
  	//All blocks
    & > div{      
      background-size: cover;
      background-repeat: no-repeat;
      background-color: $color-orange;
      position: relative;
      margin-bottom: 10px;
      
      //Bigger Content
      &:nth-of-type(odd){
        width: 61.6112733%;
        .user-content{
          padding: 0 $cell-standard;
          .content-quote:after{
            margin-right: $cell-standard;
          }
        }
        
        //Set Height
        .link-height, .page-height, .alumni_quote-height{
          padding-bottom: $image-base_height;
        }
        
      }
      
      //Smaller Content
      &:nth-of-type(even){
        width: 37.3887267%;
        .content-quote:before{
          @include fa-icon();
          content: $fa-var-quote-right;
        }
        //Set Height
        .link-height, .page-height, .alumni_quote-height{
          padding-bottom: 100%;
        }
      }
      
      // Clickable Areas
      & > a{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: $cell-smaller;
        color: $color-white;
        text-decoration: none;
        display: flex;
      	justify-content: center;
      	align-items: center;
      }
      
      //Clickable Areas (Over Background)
      &.with_background a{
        background: $color-dark_blue_gradient;
        justify-content: flex-start !important;
        align-items: flex-end !important;
      }
      
      //Page Block
      &.blocks-page{
        .page-clickable_area{
          @include responsive-largest_standard_font();
          line-height: 1em;
        }
      }
      
      //Alumni Quotes
      &.blocks-alumni_quote{
        background-color: transparent;
        position: relative;
        .alumni_quote-user{
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          .user-content{
            .content-quote{
              @include responsive-standard_font();
              &:before, &:after{
                @include fa-icon();
                opacity: .4;
                position: absolute;
              }
              &:before{
                content: $fa-var-quote-left;
                margin-top: -$cell-standard;
              }
              &:after{
                content: $fa-var-quote-right;
                right: 0;
              }
            }
            .content-name{
              font: $font-smaller_standard;
            }
            .content-alumni_roles{
              font: $font-smallest_standard;
              text-transform: uppercase;
            }
          }
        }
      }
      
      //Link Block
      &.blocks-link{
        @include responsive-standard_font();
      }
      
    }
        
    //Bocks (Standard to Larger screen)
    @media only screen and (min-width: $screen-standard) {
      & > div{      
        &:nth-of-type(odd){
          .user-content{
            padding: 0 $cell-smaller;
          }
        }
        &:nth-of-type(even){
          &:before{
            width: $cell-smaller;
            height: $cell-smaller;
            border: $cell-smallest $color-white solid;
            left: -12%;
            bottom: -12%;
          }
        }
        & > a{
          padding: $cell-smallest;
        }
        &.blocks-page{
          .page-clickable_area{
            font: $font-larger_standard;
          }
        }
        &.blocks-alumni_quote{
          .alumni_quote-user{
            .user-content{
              .content-quote{
                &:before{
                  margin-top: -$cell-smaller*2;
                }
                &:after{
                  right: 0;
                }
              }
              .content-name{
                font: $font-smaller_standard;
              }
              .content-alumni_roles{
                font: $font-smallest_standard;
              }
            }
          }
        }
        &.blocks-link{
          font: $font-standard;
        }
      }
    }
    
    //Bocks (Smaller to Standard screen)
    @media only screen and (min-width: $screen-smaller) and (max-width: $screen-standard) {
      & > div{      
        &:nth-of-type(odd){
          .user-content{
            padding: 0 $cell-smallest;
          }
        }
        &:nth-of-type(even){
          &:before{
            width: $cell-smallest;
            height: $cell-smallest;
            border: $cell-smallest/1.3 $color-white solid;
            left: -9%;
            bottom: -9%;
          }
        }
        &.blocks-page{
          .page-clickable_area{
            font: $font-standard;
          }
        }
        &.blocks-alumni_quote{
          .alumni_quote-user{
            .user-content{
              .content-quote{
                &:before{
                  margin-top: -$cell-smallest*2;
                  font-size: 20px;
                }
                &:after{
                  font-size: 40px;
                }
              }
              .content-name{
                font: $font-smallest_standard;
              }
              .content-alumni_roles{
                font: $font-smallest_standard;
              }
            }
          }
        }
        &.blocks-link{
          font: $font-smaller_standard;
        }
      }
    }
    
    //Bocks (Anything under Smaller screen)
    @media only screen and (max-width: $screen-smaller) {
      & > div{      
        margin-bottom: $cell-smallest;
        &:nth-of-type(odd), &:nth-of-type(even){
          margin-right: 0;
          width: 100%;
          .link-height, .page-height, .alumni_quote-height{
            padding-bottom: $image-base_height;
          }
        }
        &:nth-of-type(even){
          &:before{
            display: none;
          }
        }
        & > a{
          padding: $cell-smaller;
        }
        &.blocks-alumni_quote{
          padding: $cell-smallest 0;
          margin: $cell-smaller 0;
          .alumni_quote-user{
            position: relative;
            .user-content{
              padding: 0 $cell-smallest;
            }
          }
          .alumni_quote-height{
            display: none;
          }
        }
      }
    }
  }
}

//Grid
.media-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 100%;
  
  //Grid Items
  .grid-item{
    width: 32.66666667%;
    background: $color-blue;
    margin-bottom: 1%;
    margin-right: 1%;
    @include media-item();
    &:nth-of-type(3n), &:last-of-type{
      margin-right: 0;
    }
    @media only screen and (min-width: $screen-smallest) and (max-width: $screen-smaller){
      width: 48.5%;
      &:nth-of-type(3n), &:last-of-type{
        margin-right: 1%;
      }
    }
    @media only screen and (max-width: $screen-smallest){
  	  width: 100% !important;
  	  margin-right: 0!important;
  	  margin-bottom: 10px;
    }
    
    //Image
    .item-image{
      @include media-image();
    }
    
    //Caption
    .item-caption {
      @include responsive-smallest_standard_font();
      padding: $cell-smallest;
      @include media-caption();
      @media only screen and (max-width: $screen-smaller){
    	  padding: $cell-smallest/2;
      }
    }    
    
    //Set Height of Items
    .item-height{
      padding-bottom: $image-base_height;
    }
    
    //Icon
    .item-pdf_icon, .item-play_icon, {
      font-size: 4.5em;
      @include media-icon();
    }
    .item-pdf_icon{
      &:before{
        content: $fa-var-file-pdf-o;
      }
    }
    .item-play_icon{
      &:before{
        content: $fa-var-play-circle-o;
      }
    }
    
  }
  
}

//Portrait and Landscape
.media-portrait_and_landscape{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  //Landscape and Portrait (all)
  .portrait_and_landscape-landscape_with_right_portrait, .portrait_and_landscape-landscape_with_left_portrait,
  .portrait_and_landscape-left_portrait, .portrait_and_landscape-right_portrait{
    @include responsive-image_padding_bottom(146); 
    @include media-item();
    
    //Image
    .landscape_with_right_portrait-image, .landscape_with_left_portrait-image, .left_portrait-image, .right_portrait-image{
      @include media-image();
    }    
    
    //Caption
    .landscape_with_left_portrait-caption, .landscape_with_right_portrait-caption, .left_portrait-caption, .right_portrait-caption{
      @include responsive-smaller_standard_font();
      padding: $cell-smaller;
      @include media-caption();
      @media only screen and (max-width: $screen-smaller){
    	  padding: $cell-smaller/2;
      }
    }

    //Icon
    .landscape_with_left_portrait-pdf_icon, .landscape_with_right_portrait-pdf_icon, .landscape_with_left_portrait-pdf_icon, .landscape_with_right_portrait-play_icon,  .left_portrait-play_icon, .right_portrait-pdf_icon {
      font-size: 4.5em;
      @include media-icon();
    }
    .landscape_with_left_portrait-pdf_icon, .landscape_with_right_portrait-pdf_icon, .landscape_with_left_portrait-pdf_icon{
      &:before{
        content: $fa-var-file-pdf-o;
      }
    }
    .landscape_with_right_portrait-play_icon, .left_portrait-play_icon, .right_portrait-pdf_icon{
      &:before{
        content: $fa-var-play-circle-o;
      }
    }    
    
  }
  
  //Landscape (All)
  .portrait_and_landscape-landscape_with_right_portrait, .portrait_and_landscape-landscape_with_left_portrait{
    width: 68.2771855%;
    
  }
  
  //Landscape (Portrait Right)
  .portrait_and_landscape-landscape_with_right_portrait{
  }
  
  //Landscape (Portrait Left)
  .portrait_and_landscape-landscape_with_left_portrait{
    order: 2;
  }
  
  //Portrait (All)
  .portrait_and_landscape-right_portrait, .portrait_and_landscape-left_portrait{
    width: 30.7228145%;
  }
  
  //Portrait (Left)
  .portrait_and_landscape-left_portrait{
    order: 1;
  }
  
}

//Single Media Item
.media-single_media_item{
  text-align: center;
  position: relative; 
    
  //Item
  .single_media_item-item{
    width: 100%;
    @include media-item();
    @include responsive-image_padding_bottom(100); 

    //Image
    .item-image{
      @include media-image();
    }

    //Caption
    .item-caption{
      @include responsive-standard_font();
      @include media-caption();
      padding: $cell-smaller;
      @media only screen and (max-width: $screen-smaller){
    	  padding: $cell-smaller/2;
      }
    }

    //Icons
    .item-play_icon, .item-pdf_icon{
      font-size: 7.5em;
      @include media-icon();
    }
    .item-pdf_icon{
      &:before{
        content: $fa-var-file-pdf-o;
      }
    }
    .item-play_icon{
      &:before{
        content: $fa-var-play-circle-o;
      }
    }

  }
  
}

//Slideshow
.media-slideshow{
  position: relative; 
  width: 100%;
  @include responsive-image_padding_bottom(100); 
  
  //Item
  .slideshow-slide{
    @include media-item();
    position: absolute;
    width: 100%;
    @include responsive-image_padding_bottom(100); 
    @media only screen and (max-width: $screen-smallest){
  	  width: 100% !important;
    }
    
    //Image
    .slide-image{
      @include media-image();
    }

    //Caption
    .slide-caption {
      font: $font-smallest_standard;
      padding: $cell-smaller;
      z-index: 2;
      
      @media only screen and (max-width: $screen-smaller){
    	  padding: $cell-smaller/2;
      }
    }   
  }
  
  //Controls
  .slideshow-next, .slideshow-previous{
    color: $color-white;
    position: absolute;
    display: inline-block;
    z-index: 9999;
    top: 50%;
    margin-top: -20px;
    text-decoration: none;
    text-shadow: $text-shadow-standard;
    @include fa-icon();
    font-size: 40px;
    &:focus{
      opacity: .7;
    }
  }
  .slideshow-next{
    right: $cell-smaller;
    &:before{
      content: $fa-var-chevron-right;
    }
  }
  .slideshow-previous{
    left: $cell-smaller;
    &:before{
      content: $fa-var-chevron-left; 
    }
  }
}