/*--------------------------------------------------------------
# Document Properties: Properties for basic HTML elements
--------------------------------------------------------------*/
*{
  box-sizing: border-box !important;
}
body {
  font-family: $font-family-standard;
  font-weight: $font-weight-bold;
  margin: 0;

  @media (max-width: $screen-smaller) {
    font-size: 93%;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  ::selection {
    background: rgba(240,117,72,.99) !important;
    color: $color-white !important;
    opacity: 1;
  }
}
img, a img{
  border: 0;
  max-width: 100%;
}
a{
  color: $color-blue;
  font-weight: $font-weight-bold;
  &:active, &:focus{
    opacity: .8; 
    outline: 0;
  }
}
form{
  
}
table{
  
}
h1, h2, h3, h4 {
  color: $color-dark_blue;
  line-height: $line-height-standard;
}

h1 {
  @include responsive-largest_standard_font();
}

h2 {
  @include responsive-larger_standard_font();
}

h3 {
  @include responsive-standard_font();
}

h4 {
  @include responsive-smaller_standard_font();
}

.lead{
  @include responsive-larger_standard_font();
}
